/* Genel stiller */

body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?cs=srgb&dl=pexels-adrien-olichon-2387793.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(90deg, #3a3a3a, #232629);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    opacity: 0.8;
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

p {
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
}

/* Mobil cihazlar için stiller */

@media (max-width: 768px) {
    .video-item {
        width: calc(50% - 20px);
    }

    .download-button,
    .social-button {
        padding: 8px 16px;
    }
}

/* Tabletler için stiller */

@media (min-width: 769px) and (max-width: 1024px) {
    .video-item {
        width: calc(33.33% - 20px);
    }
}

.video-item {
    margin: 10px;
    box-sizing: border-box;
    background-color: #444;
    border: 1px solid #555;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-item:hover {
    transform: scale(1.05);
}

.video {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}

.video-info {
    padding: 20px;
}

.social-buttons {
    text-align: center;
    margin-top: 10px;
}

.social-button {
    text-decoration: none;
    color: #fff;
    background-color: #55acee;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin: 4 20px;
    font-weight: bold;
}

.social-button.twitter {
    background-color: #55acee;
}

.social-button.instagram {
    background-color: #e4405f;
}

.social-button:hover {
    background-color: #0077b5;
}

.social-button.instagram:hover {
    background-color: #ed4956;
}

.download-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-button:hover {
    background-color: #055c99;
}
